#canvasBody {
    width:800px;
    height:600px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
}

#drawbuttons {
    margin-left: 10px;
    margin-top: 5px;
}

#extraThings {
    margin-left: 10px;
    margin-top: 560px;
}

#listObjects {
    margin-top: -600px;
    margin-left: 820px;
    width: 300px;
}

#commandLine {
    width: 600px;
}

#cursorCoodinates {
    margin-left: 50px;
    width: 50px;
}

#buttonBody{
    position: absolute;
    margin-top: 25px;
    margin-left: 270px;
}

#dButton{
    width: 99px;
    height: 35px;
}

#inputCommand{
    position: absolute;
    margin-top: 600px;
    margin-left: 420px;
}

