#myCanvas {
    width:800px;
    height:600px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-260px;
    margin-left:-300px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
}

#drawButtons{
    position: absolute;
    margin-top: 25px;
    margin-left: 270px;
}

#dButton{
    width: 99px;
    height: 35px;
}

#inputCommand{
    position: absolute;
    margin-top: 600px;
    margin-left: 420px;
}

